.dockerignore
Dockerfile

**/.git
**/.gitattributes
**/.gitignore
**/docker-compose*

**/.project
**/.settings
**/.idea
**/.env
**/.vs
**/.vscode

**/*.log
**/*-debug.log*
**/*-error.log*

**/.classpath
**/*.jar
**/*gradle*
**/build/
**/node_modules/

**/README.md

# From VSCode's ignore file
# feel free to recategorise
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
